<mat-toolbar class="footer">
    <p>
        <small>
            <i>Desenvolvido por <a href="https://www.linkedin.com/in/jeferson0993/" target="_blank">Jeferson Ferreira</a> com base no curso <a
                    href="https://www.youtube.com/playlist?list=PLA8Qj9w4RGkWIbZFe6JcFKg2WmeNtZ6dJ" target="_blank">MEU PRIMEIRO PROJETO
                    FULL STACK
                </a> do <a href="https://www.linkedin.com/in/ValdirCezar/">Valdir Cesar</a></i>
        </small>
    </p>
</mat-toolbar>